body {
  margin: 0;
  padding-top: 73px;
  min-height: 100vh;
  position: relative;
  padding-bottom: 88px;
}
form {
  padding: 0;
  margin: 0;
}
.anchor-style{
  border: none;
  background: none;
  font-size: 16px;
}

/* HEADER CSS */
.site-header { 
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 73px;
  z-index: 1050;
  background-color: #d1d1d3;
}

@media screen and (max-width: 991px) {
  .navbar-collapse{
    padding-left: 48px;
    padding-bottom: 20px;
  }
}

.navbar-toggler {
  z-index: 100;
}
.navbar-collapse {
  background-color: rgba(248, 249, 250, 1);
}
.dropdown-item:active{
  background-color: #3b3b3b;
}
.dropdown-item.active{
  background-color: #3b3b3b;
}

.site-header .container-fluid {
  z-index: 1051;
}

/* FOOTER CSS */
:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  }
.footer {
  width: 100%;
  padding: 2rem 0;
  background: #3b3b3b;
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  position: absolute;
  left:0;
  right: 0;
  bottom: 0;
}

/* SIGN IN CSS */
.form-signin {
  max-width: 420px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.signin-top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.signin-middle {
  margin-bottom: -1px;
  border-radius: 0 !important;
}
.signin-bottom {
  margin-bottom: 10px;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}


.lightest-grey{
  color: #d1d1d3;
}
.lighter-grey{
  color: #a8a8a9;
}
.normal-grey{
  color: #7a7b7d;
}
.darker-grey{
  color: #4b4a4d;
}
.darkest-grey{
  color: #2e2a2d;
}

.btn-darker-grey{
  background-color: #4b4a4d;
  color: white;
}
.btn-darker-grey:hover{
  background-color: #2e2a2d;
  color: white;
}
.a-darker-grey{
  color: #4b4a4d;
}
.a-darker-grey:hover{ 
  color: #2e2a2d;
}
.a-darker-grey:active{
  font-weight: bold;
}
/* .border-darker-grey, .border-darker-grey:hover{
  border: #4b4a4d solid 2px;
  border-color: #4b4a4d;
} */

/* ENLARGE CSS */

.enlarge {
  transition: transform 0.1s ease; 
}

.enlarge:hover {
  transform: scale(1.02); 
}